---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro'
import ThemeToggle from './ui/ThemeToggle.vue';
---

<header>
 <nav>
   <Hamburger />
   <ThemeToggle client:load />
   <Navigation />
 </nav>
</header>